<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.RelTeacherMajorMapper" >
  <resultMap id="BaseResultMap" type="com.bs.pojo.RelTeacherMajor" >
    <constructor >
      <idArg column="pk_rel_teacher_major" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fk_teacher" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fk_major" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_updated_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_updated_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pk_rel_teacher_major, fk_teacher, fk_major, created_by, created_time, last_updated_by, 
    last_updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_rel_teacher_major
    where pk_rel_teacher_major = #{pkRelTeacherMajor,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_rel_teacher_major
    where pk_rel_teacher_major = #{pkRelTeacherMajor,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bs.pojo.RelTeacherMajor" >
    insert into bs_rel_teacher_major (pk_rel_teacher_major, fk_teacher, fk_major, 
      created_by, created_time, last_updated_by, 
      last_updated_time)
    values (#{pkRelTeacherMajor,jdbcType=INTEGER}, #{fkTeacher,jdbcType=INTEGER}, #{fkMajor,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=INTEGER}, now(), #{lastUpdatedBy,jdbcType=INTEGER},
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.bs.pojo.RelTeacherMajor" >
    insert into bs_rel_teacher_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkRelTeacherMajor != null" >
        pk_rel_teacher_major,
      </if>
      <if test="fkTeacher != null" >
        fk_teacher,
      </if>
      <if test="fkMajor != null" >
        fk_major,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkRelTeacherMajor != null" >
        #{pkRelTeacherMajor,jdbcType=INTEGER},
      </if>
      <if test="fkTeacher != null" >
        #{fkTeacher,jdbcType=INTEGER},
      </if>
      <if test="fkMajor != null" >
        #{fkMajor,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        now(),
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdatedTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.RelTeacherMajor" >
    update bs_rel_teacher_major
    <set >
      <if test="fkTeacher != null" >
        fk_teacher = #{fkTeacher,jdbcType=INTEGER},
      </if>
      <if test="fkMajor != null" >
        fk_major = #{fkMajor,jdbcType=INTEGER},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time = now(),
      </if>
    </set>
    where pk_rel_teacher_major = #{pkRelTeacherMajor,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.pojo.RelTeacherMajor" >
    update bs_rel_teacher_major
    set fk_teacher = #{fkTeacher,jdbcType=INTEGER},
      fk_major = #{fkMajor,jdbcType=INTEGER},
      last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER},
      last_updated_time = now()
    where pk_rel_teacher_major = #{pkRelTeacherMajor,jdbcType=INTEGER}
  </update>

  <select id="selectFkMajor" parameterType="int" resultType="int">
    SELECT brtm.fk_major
    FROM bs_rel_teacher_major brtm
    WHERE brtm.fk_teacher = #{pkTeacher}
  </select>

  <delete id="delete" parameterType="map">
    DELETE FROM bs_rel_teacher_major
    WHERE fk_teacher = #{pkTeacher}
    AND fk_major = #{pkMajor}
  </delete>

  <select id="selectFkMajorList" parameterType="string" resultType="Integer">
    SELECT fk_major
    FROM bs_rel_teacher_major
    WHERE fk_teacher = #{pkTeacher}
  </select>
</mapper>