<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.bs.pojo.Student" >
    <constructor >
      <idArg column="pk_student" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="question" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="answer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="student_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fk_major" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="role" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="created_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_updated_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_updated_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pk_student, username, password, question, answer, name, student_id, fk_major, role, 
    created_by, created_time, last_updated_by, last_updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_student
    where pk_student = #{pkStudent,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_student
    where pk_student = #{pkStudent,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bs.pojo.Student" >
    insert into bs_student (pk_student, username, password, 
      question, answer, name, 
      student_id, fk_major, role, 
      created_by, created_time, last_updated_by, 
      last_updated_time)
    values (#{pkStudent,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{fkMajor,jdbcType=INTEGER}, #{role,jdbcType=CHAR}, 
      #{createdBy,jdbcType=INTEGER}, now(), #{lastUpdatedBy,jdbcType=INTEGER},
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.bs.pojo.Student" >
    insert into bs_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="fkMajor != null" >
        fk_major,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="fkMajor != null" >
        #{fkMajor,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        now(),
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdatedTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.Student" >
    update bs_student
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="fkMajor != null" >
        fk_major = #{fkMajor,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdatedTime != null" >
        last_updated_time = now(),
      </if>
    </set>
    where pk_student = #{pkStudent,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.pojo.Student" >
    update bs_student
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      fk_major = #{fkMajor,jdbcType=INTEGER},
      role = #{role,jdbcType=CHAR},
      last_updated_by = #{lastUpdatedBy,jdbcType=INTEGER},
      last_updated_time = now()
    where pk_student = #{pkStudent,jdbcType=INTEGER}
  </update>

  <select id="selectAllStudent" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM bs_student
  </select>

  <select id="checkUsername" parameterType="string" resultType="int">
    SELECT COUNT(1)
    FROM bs_student
    WHERE username = #{username}
  </select>

  <select id="login" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM bs_student
    WHERE username = #{username}
    AND password = #{password}
  </select>

  <select id="selectQuestionByStudent" resultType="string" parameterType="string">
    SELECT
    question
    FROM bs_student
    WHERE username = #{username}
  </select>
</mapper>