.title{
    float: left;
    width: 80px;
}

.title120{
    float: left;
    width: 120px;
}

.title150{
    float: left;
    width: 150px;
}

.from-box {
    padding: 10px 0 10px 0;
}

.from-title {
    padding: 5px 10px 5px 20px;
    line-height: 30px;
}

.notice-title{
    height: 60px;
    line-height: 60px;
}

.from-select {
    border-radius: 25px;
    width: 180px;
}

.from-txt {
    border-radius: 25px;
    resize: none;
    overflow-y: auto;
    width: 550px;
    max-width: 750px;
    height: 60px;
    max-height: 100px;
    maxlength:150;
    padding: 5px 15px;
}

.from-text{
    border-radius: 25px;
}

#text-count{
    position: relative;
    bottom: 0;
    right: 5px;
}

.contact-box{
    -webkit-box-shadow: 2px 2px 5px #888888;
            box-shadow: 2px 2px 5px #888888;
    background-color: #f4f4f4;
    margin: 15px 0;
}

.btn-boxs{
    float: right;
    padding: 10px 30px 0 0;
}

.limit{
    position: absolute;
    right: 128px;
    bottom: -10px;
}

.msg-box{
    float: left;
    padding: 10px 30px 0 50px;
}

.msgs{
    color: #de0002;
}

.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.paginationBox{
    margin: 0 25px;
    background: #FFFFFF;
}

.pagination{
    float: right;
}

.table th{
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

.table td{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.nothing{
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 0;
}

.inputText{
    margin-bottom: 0;
    border-radius: 25px;
}

.left30{
    margin-left: 30px;
}
.left50{
    margin-left: 50px;
}
.left80{
    margin-left: 80px;
}

.w280{
    width: 280px;
}